body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .todo-list {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button,
  select {
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .filters {
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  .edit {
    margin-left: 38px;
  }
  
  li.completed span {
    text-decoration: line-through;
    color: grey;
  }
  
  li button {
    margin-left: 10px;
  }
  
  .sort-by {
    color: black;
    margin-bottom: 10px;
  }
  
  .selecto {
    margin-right: 52px;
  }
  